services:
  - type: web
    name: uncannyvalleycomics
    env: static
    buildCommand: npm run build
    publish: dist
    routes:
      - type: rewrite
        source: /api/*
        destination: https://uncanny-valley-comics-backend.onrender.com/api/:splat
      - type: rewrite
        source: /*
        destination: /index.html
