services:
  # === Frontend ===
  - type: web
    name: uncannyvalleycomics-frontend
    env: static
    buildCommand: npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /api/*
        destination: https://uncanny-valley-comics-backend.onrender.com/api/:splat
      - type: rewrite
        source: /*
        destination: /index.html

  # === Backend ===
  - type: web
    name: uncannyvalleycomics-backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn uncanny_valley.wsgi:application
    plan: free
    envVars:
      - key: DEBUG
        value: False
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 2
