.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  gap: 5px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.n1 {
  background-color: red;
}
