.tab-buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  width: 100px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.tab-buttons button.active {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

.tab-content-wrapper {
  position: relative;
  min-height: 450px; /* adjust to tallest content */
}

.fade-tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none; /* inactive tabs not interactable */
}

.fade-tab.show {
  opacity: 1;
  pointer-events: auto;
}

.trending-now {
  background-color: rgb(238, 238, 238);
  min-height: 790px;
}

.multicarousel-btn {
  margin-left: 60px;
  margin-top: 15px;
}
